# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Linux system files
*~
.*.swp
.nfs*

# Ignore backup folder and files (if applicable)
backup/
backup/*
backup-latest/
backup-latest/*